@model InventoryManagement.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.TypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeId)
            @Html.ValidationMessageFor(model => model.TypeId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SupplierId)
            @Html.ValidationMessageFor(model => model.SupplierId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WholesalePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WholesalePrice)
            @Html.ValidationMessageFor(model => model.WholesalePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RetailPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RetailPrice)
            @Html.ValidationMessageFor(model => model.RetailPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuyPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuyPrice)
            @Html.ValidationMessageFor(model => model.BuyPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitialCostPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InitialCostPrice)
            @Html.ValidationMessageFor(model => model.InitialCostPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stock)
            @Html.ValidationMessageFor(model => model.Stock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Taxable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Taxable)
            @Html.ValidationMessageFor(model => model.Taxable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManageStock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManageStock)
            @Html.ValidationMessageFor(model => model.ManageStock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KeepSelling)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KeepSelling)
            @Html.ValidationMessageFor(model => model.KeepSelling)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublishOnline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublishOnline)
            @Html.ValidationMessageFor(model => model.PublishOnline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OnlineOrdering)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OnlineOrdering)
            @Html.ValidationMessageFor(model => model.OnlineOrdering)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
